.height-150 {
    height: 150px;
    background-color: #eee !important;
}

.choice-container {
    padding-left: 50px;
}

mat-card{
  background-color: white;
}
.choices{
  float: left;
  margin-left:auto;
  margin-right: auto;
  vertical-align: middle;
  width: 200px;
  height: 100px;
}
