<body>
<div class="container full-height">

  <table class="table text-white" *ngIf="challenges?.length > 0; else message">
    <thead>
      <tr>
        <th scope="col">Challenge</th>
        <th scope="col">Challenger</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let challenge of challenges; let i = index"
        [class.highlighted]="challenge.id === selectedChallengeId"
      >
        <td>Challenge {{ i + 1 }}</td>
        <td>{{ this.challengerUsername(challenge) || challengerUserName }}</td>
        <td><a class="btn btn-outline-light btn-lg"  role="button" (click)="challengeClicked($event, challenge)" >Accept challenge</a></td>
      </tr>
    </tbody>
  </table>
  <ng-template #message>
    <h2 class="p-5 text-center text-white">No Challenges</h2>
  </ng-template>
</div>
</body>

