<div class="container full-height">
  <!-- {{challenges | json}} -->

  <table class="table" *ngIf="challenges?.length > 0; else message">
    <thead class="thead-light">
      <tr>
        <th scope="col">Challenge</th>
        <th scope="col">Challenger</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let challenge of challenges; let i = index"
        [class.highlighted]="challenge.id === selectedChallengeId"
      >
        <td>Challenge {{ i + 1 }} from</td>
        <td>{{ this.challengerUsername(challenge) || challengerUserName }}</td>
        <td><button class="btn btn-primary" type="button" (click)="challengeClicked($event, challenge)">Accept and attempt challenge</button></td>
      </tr>
    </tbody>
  </table>
  <ng-template #message>
    <h2 class="p-5 text-center">No Challenges</h2>
  </ng-template>
</div>
