<body  class="p-5 text-center bg-image">
  <div class="mask" >
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
    <h1 class="mb-3">Hi {{user.firstName}}!</h1>
    <h4 class="mb-3">Welcome to BeatYourFriends</h4>
    <a class="btn btn-outline-light btn-lg" href="#!" role="button" (click)="setChallenger()" [routerLink]="['/startGame', true ]">Start a game</a>
    <a class="btn btn-outline-light btn-lg" href="#!" role="button" (click)="setChallenged()" routerLink="/challenge">Challenges</a>
    <a class="btn btn-outline-light btn-lg" href="#!" role="button" routerLink="/scoreboard">Scoreboard</a>
      </div>
    </div>
      </div>

</body>
