.mat-card-image {
    /* width: 20%; */
    height: 400px;
}

.btn-container{
    margin:auto;
    width: 10%;
}

.p20 {
    padding: 20px;
}


.img-container {
    position: relative;
    text-align: center;
    color: white;
    outline:none;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 72px;
    font-weight: bold;
    outline:none;
  }