<body>
<div class="p4 full-height container">
  <div *ngIf="!selectUser">
      <mat-card-title class="text-center"></mat-card-title>
      <mat-card-subtitle class="text-center text-white">
        <h2 class="mb-3">Choose a category!</h2>
      </mat-card-subtitle>
      <div class="flex-container" fxLayout="row" fxLayout.xs="column">
        <mat-card class="quiz-card" *ngFor="let quiz of quizCategories">
          <div class="img-container" >
            <img
              [routerLink]="quiz.url"
              (click)="setQuizType(quiz.url)"

              [src]="quiz.imgPath"
              [alt]="quiz.alt"
            />
            <div [routerLink]="quiz.url"
            (click)="setQuizType(quiz.url)"
            class="centered">
              {{quiz.label}}
            </div>
          </div>
        </mat-card>
      </div>
  </div>
  <div *ngIf="selectUser">
    <div class="p20 text-white">
      <h4 class="text-center mb-3">Select Your Opponent</h4>
    </div>
    <div>
      <table class="table text-white" *ngIf="users?.length > 0; else message">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Username</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let user of users"
            (click)="userClicked($event, user)"
            [class.highlighted]="user.id === selectedUserId"
          >
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.username }}</td>
          </tr>
        </tbody>
      </table>
      <ng-template #message>
        <h2 class="p-5 text-center text-white">No Opponent User Available</h2>
      </ng-template>
    </div>
    <div>
      <div class="btn-container text-white">
        <a class="btn btn-outline-light " role="button" [hidden]="!selectedUserId" (click)="userSelected()">Select User</a>
      </div>
    </div>
  </div>
</div>
</body>
