/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.full-height {
    height: calc(100vh - 60px);
}

.highlighted{
    background-color: yellow;
}

.pt-7 {
    padding-top: 7rem;
  }
